
#navBar {
    -fx-background-color: #34495E;
    -fx-padding: 20;
}


.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 200px;
    -fx-padding: 10;
    -fx-border-radius: 5;
}


.button:hover {
    -fx-background-color: #2C3E50;
}


.button:pressed {
    -fx-background-color: #1A242F;
}
/* Estilos para los cuadros de información */
.info-box {
    -fx-background-color: #EAEAEA; /* Fondo de color claro */
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: #B0B0B0; /* Borde gris claro */
    -fx-border-width: 2;
}

/* Estilos para el título de cada cuadro */
.info-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50; /* Color oscuro para contraste */
}

/* Estilos para el contenido de cada cuadro */
.info-content {
    -fx-font-size: 16px;
    -fx-text-fill: #34495E;
}
